flows.json
[
    {
        "id": "9b01124a5ca33018",
        "type": "debug",
        "z": "f45d53a71cfe4272",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "c944ed8d27730253",
        "type": "switch",
        "z": "f45d53a71cfe4272",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pump/1/pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump/1/flow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump/1/status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "bb933e030c002002"
            ],
            [
                "dbcdd40888de2c5c"
            ],
            [
                "04729828e30e13ba",
                "2ec18e10b431e648",
                "833768ea6e76be3f"
            ]
        ]
    },
    {
        "id": "bb933e030c002002",
        "type": "function",
        "z": "f45d53a71cfe4272",
        "name": "Pressure",
        "func": "msg.measurement = \"pressure\";\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "9b01124a5ca33018",
                "e156192d8bebb796",
                "fe182d8acec343fb"
            ]
        ]
    },
    {
        "id": "dbcdd40888de2c5c",
        "type": "function",
        "z": "f45d53a71cfe4272",
        "name": "Flow",
        "func": "msg.measurement = \"flow\";    // <- ini penting buat InfluxDB\nmsg.payload = Number(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "b55fca7289e1f184",
                "d0e8f6c28a7433a5",
                "34c8afeccff4796f"
            ]
        ]
    },
    {
        "id": "b55fca7289e1f184",
        "type": "debug",
        "z": "f45d53a71cfe4272",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "04729828e30e13ba",
        "type": "debug",
        "z": "f45d53a71cfe4272",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "2ec18e10b431e648",
        "type": "ui_text",
        "z": "f45d53a71cfe4272",
        "group": "2f89499b1ead9472",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "Georgia,Georgia,serif",
        "fontSize": "20",
        "color": "#ff0000",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "d0e8f6c28a7433a5",
        "type": "ui_chart",
        "z": "f45d53a71cfe4272",
        "name": "",
        "group": "2f89499b1ead9472",
        "order": 1,
        "width": "7",
        "height": "4",
        "label": "Flow",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e156192d8bebb796",
        "type": "ui_chart",
        "z": "f45d53a71cfe4272",
        "name": "",
        "group": "2f89499b1ead9472",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fe182d8acec343fb",
        "type": "influxdb out",
        "z": "f45d53a71cfe4272",
        "influxdb": "85ea6616f9d05787",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "34c8afeccff4796f",
        "type": "influxdb out",
        "z": "f45d53a71cfe4272",
        "influxdb": "85ea6616f9d05787",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "833768ea6e76be3f",
        "type": "function",
        "z": "f45d53a71cfe4272",
        "name": "function 2",
        "func": "msg.measurement = \"status\";\nmsg.payload = msg.payload.toString();  // biar string jelas\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "be38572defb37a23"
            ]
        ]
    },
    {
        "id": "be38572defb37a23",
        "type": "influxdb out",
        "z": "f45d53a71cfe4272",
        "influxdb": "85ea6616f9d05787",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "9e2cfa508a44b570",
        "type": "mqtt in",
        "z": "f45d53a71cfe4272",
        "name": "monitoring pump",
        "topic": "pump/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7a81d4b2b34949b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "c944ed8d27730253"
            ]
        ]
    },
    {
        "id": "2f89499b1ead9472",
        "type": "ui_group",
        "name": "Pump 1",
        "tab": "0933ef37f2fc56e0",
        "order": 1,
        "disp": true,
        "width": "19",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85ea6616f9d05787",
        "type": "influxdb",
        "hostname": "localhost",
        "port": 8086,
        "protocol": "http",
        "database": "Monitoring_pump",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "7a81d4b2b34949b2",
        "type": "mqtt-broker",
        "name": "Monitoring Pump",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0933ef37f2fc56e0",
        "type": "ui_tab",
        "name": "Monitoring pump",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]